<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Indeed job extractor</title>

  <!-- Bootstrap Core CSS -->
  <!--<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
-->
  <!-- Custom Fonts 
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="static/https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
-->
  <!-- Custom CSS 
  <link href="static/css/stylish-portfolio.min.css" rel="stylesheet">-->

</head>

<body>
<div  style="margin:auto;width:50%;text-align: center;">
<h2> Indeed Job extractor</h2>
<form method="POST">
    <input placeholder="Job title" name="text">
    <input placeholder="location" name="loc">
    <input type="submit" value="Download">
</form>
<p>Type job title (eg:'Software developer') and location (eg:'Melbourne'), and press download. This will extract job information such as job title, company, location, link to the job posting, from Indeed website. The downloaded file is in excel format</p>
<p> Currently only supported for Australian locations</p>
<p> Made by <a href="https://twitter.com/nagarajbhat92">Nagaraj Bhat </a> , Code - <a href="https://github.com/nagarajbhat/indeed-job-extractor">Github<a></p>
</div>
</body>